.container {
  max-width: 120rem; //1200px
  margin: 8rem auto; //centers container inside body
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
height: 7rem;
background-color: #fff;
border-bottom: var(--color-grey-light-2)
}

.content {
display: flex; //using flex box
}

.sidebar {
background-color: var(--color-grey-dark-3);
}

.hotel-view {

}
